body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main_wrapper {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  padding-bottom: 130px;
}

.size-23 {
  width: 300px;
  position: relative;
  left: 200px;
}
.size-24 {
  position: relative;
  left: -60px;
}
@media screen and (max-width: 1199px) {
  .size-23 {
    width: 300px;
    position: relative;
    left: 150px;
  }
  .size-24 {
    position: relative;
    left: -20px;
  }
}
@media screen and (max-width: 991px) {
  .size-23 {
    width: 300px;
    position: relative;
    left: 90px;
  }
  .size-24 {
    position: relative;
    left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .size-23 {
    width: 300px;
    position: relative;
    left: 40px;
  }
  .size-24 {
    position: relative;
    left: 80px;
  }
}
@media screen and (max-width: 543px) {
  .size-24 {
    position: relative;
    left: -110px;
    top: 50px;
  }
}
.hover:hover {
  color: grey;
}
/*
.txtsize {
    font-size: 270pt;
    font-weight: bolder;
}
.animate-charctert
{
   text-transform: uppercase;
  background-image: url("../Images/menada-small.JPG");
  background-size: auto auto;
  background-clip: border-box;
  background-size: 100% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    min-width: 250px;
    padding: 0;
    transition: 0.2s;
  }  */
/*  card scrollbar */
/*.cards::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }*/

/* Card Hover */

/*.card:hover ~ .card {
    transform: translateX(130px);
  }*/

.imgposition {
  position: relative;
  left: 47px;
  top: -1px;
}

.add {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  background: #333;
}

.img5 {
  height: 200px;
}

/*Dedicated to the promotion and affirmation
of Macedonian cultural heritage. section*/
.mable {
  font-size: 26pt;
}
.dedicated {
  position: relative;
  top: -20px;
}

/*Our main objective is to introduce to people worldwide the rich traditions, language, literature, and art of a nation whose diverse cultural threads are interwoven into the ethnic tapestries of the world. section*/
.pine {
  font-size: 20pt;
}
/*Title img Arts hero image*/
@media only screen and (min-width: 0px) {
  .card-img-top {
    position: relative;
    z-index: 2;
    height: auto;
    width: auto;
    transform: translateY(0);
    transition: 0.5s;
  }
}

@media only screen and (max-width: 995px) {
  .mable {
    font-size: 20pt;
  }
  .pine {
    font-size: 15pt;
  }
}

@media only screen and (max-width: 992px) {
  .pose {
    position: relative;
    top: -100px;
  }
}

.embed-responsive {
  width: 600px;
}

.heading-project {
  margin: 24px 0;
  text-transform: uppercase;
  text-align: center;
}

#poster {
  object-position: bottom;
  height: 450px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px #888888;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack > * {
  margin: 1.5rem 0 0 0;
}

.stack > :last-child {
  margin: 0 0 1.5rem 0;
}

.wrapper__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__cta > .button {
  margin: auto;
}

.border__light {
  border: 1px solid lightgray;
}

.btn {
  border-radius: 100px;
}

.home-card-text p {
  min-height: 225px;
}

.section__main {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  padding-bottom: 130px;
}

.wrapper__cards {
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .home-card-text p {
    min-height: unset;
  }

  #poster {
    height: unset;
  }
}

.subheading_in-dev {
  background-color: #efefef;
  margin: auto;
  padding: 0.5rem;
}

.object-fit-contain {
  object-fit: contain !important;
}
